.frame {
  border-radius: 72px;
  display: block;
  height: 223px;
  overflow: hidden;
  position: relative;
  width: 639px;
}

.frame .next {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 70px;
  font-weight: 800;
  left: 245px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 75px;
  white-space: nowrap;
}

.frame.default {
  background-color: #5bcb5e;
}

.frame.variant-3 {
  background-color: #5bcb5e;
  border: 1px solid;
  border-color: #000000;
}

.frame.variant-2 {
  background-color: #5bcb5e9c;
  box-shadow: 0px 4px 4px #00000040;
}
