.component-63 {
  height: 846px;
}

.component-63 .overlap-group-2 {
  background-color: #ffe7a1;
  height: 846px;
  position: relative;
  width: 1462px;
}

.component-63 .overlap {
  height: 64px;
  left: 111px;
  position: absolute;
  top: 416px;
  width: 170px;
}

.component-63 .img {
  height: 36px;
  left: 25px;
  position: absolute;
  top: 20px;
  width: 36px;
}

.component-63 .heart-disease {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.component-63 .sleep-disorders {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 111px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 653px;
  white-space: nowrap;
}

.component-63 .cancer {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 111px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 574px;
  white-space: nowrap;
}

.component-63 .alzheimer-s-disease {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 111px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 732px;
  white-space: nowrap;
}

.component-63 .osteoporosis {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 111px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 495px;
  white-space: nowrap;
}

.component-63 .text-wrapper-6 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 111px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 337px;
  white-space: nowrap;
}

.component-63 .diabetes {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 111px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 258px;
  white-space: nowrap;
}

.component-63 .hypertension {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 111px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 173px;
  white-space: nowrap;
}

.component-63 .p {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 60px;
  font-weight: 800;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 54px;
  white-space: nowrap;
}

.component-63 .rectangle {
  background-color: #ffffff;
  height: 31px;
  left: 42px;
  position: absolute;
  top: 185px;
  width: 31px;
}

.component-63 .rectangle-2 {
  background-color: #ffffff;
  height: 31px;
  left: 42px;
  position: absolute;
  top: 275px;
  width: 31px;
}

.component-63 .rectangle-3 {
  background-color: #ffffff;
  height: 31px;
  left: 42px;
  position: absolute;
  top: 354px;
  width: 31px;
}

.component-63 .rectangle-4 {
  background-color: #ffffff;
  height: 31px;
  left: 42px;
  position: absolute;
  top: 433px;
  width: 31px;
}

.component-63 .rectangle-5 {
  background-color: #ffffff;
  height: 31px;
  left: 42px;
  position: absolute;
  top: 512px;
  width: 31px;
}

.component-63 .rectangle-6 {
  background-color: #ffffff;
  height: 31px;
  left: 42px;
  position: absolute;
  top: 591px;
  width: 31px;
}

.component-63 .rectangle-7 {
  background-color: #ffffff;
  height: 31px;
  left: 42px;
  position: absolute;
  top: 670px;
  width: 31px;
}

.component-63 .rectangle-8 {
  background-color: #ffffff;
  height: 31px;
  left: 42px;
  position: absolute;
  top: 749px;
  width: 31px;
}

.component-63 .overlap-group-3 {
  height: 64px;
  left: 103px;
  position: absolute;
  top: 416px;
}

.component-63 .ellipse-4 {
  height: 36px;
  left: 23px;
  position: absolute;
  top: 20px;
  width: 33px;
}

.component-63 .text-wrapper-7 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.component-63 .text-wrapper-8 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 653px;
}

.component-63 .text-wrapper-9 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 574px;
}

.component-63 .text-wrapper-10 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 732px;
}

.component-63 .text-wrapper-11 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 495px;
}

.component-63 .text-wrapper-12 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 337px;
}

.component-63 .text-wrapper-13 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 258px;
}

.component-63 .text-wrapper-14 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 173px;
}

.component-63 .text-wrapper-15 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 54px;
}

.component-63 .rectangle-9 {
  background-color: #ffffff;
  height: 31px;
  left: 39px;
  position: absolute;
  top: 185px;
  width: 29px;
}

.component-63 .rectangle-10 {
  background-color: #ffffff;
  height: 31px;
  left: 39px;
  position: absolute;
  top: 275px;
  width: 29px;
}

.component-63 .rectangle-11 {
  background-color: #ffffff;
  height: 31px;
  left: 39px;
  position: absolute;
  top: 354px;
  width: 29px;
}

.component-63 .rectangle-12 {
  background-color: #ffffff;
  height: 31px;
  left: 39px;
  position: absolute;
  top: 433px;
  width: 29px;
}

.component-63 .rectangle-13 {
  background-color: #ffffff;
  height: 31px;
  left: 39px;
  position: absolute;
  top: 512px;
  width: 29px;
}

.component-63 .check-instance {
  height: 24px !important;
  left: 7px !important;
  position: absolute !important;
  top: 0 !important;
  width: 22px !important;
}

.component-63 .rectangle-14 {
  background-color: #ffffff;
  height: 31px;
  left: 39px;
  position: absolute;
  top: 591px;
  width: 29px;
}

.component-63 .rectangle-15 {
  background-color: #ffffff;
  height: 31px;
  left: 39px;
  position: absolute;
  top: 670px;
  width: 29px;
}

.component-63 .rectangle-16 {
  background-color: #ffffff;
  height: 31px;
  left: 39px;
  position: absolute;
  top: 749px;
  width: 29px;
}

.component-63.property-1-4-default {
  box-shadow: 0px 4px 4px #00000040;
  width: 1572px;
}

.component-63.property-1-4-variant-3 {
  background-color: #ffe7a1;
  position: relative;
  width: 1462px;
}

.component-63.property-1-4-variant-2 {
  background-color: #d9d9d9;
  box-shadow: 0px 4px 4px #00000040;
  position: relative;
  width: 1462px;
}

.component-63.property-1-4-default .overlap-group-3 {
  width: 270px;
}

.component-63.property-1-4-variant-3 .overlap-group-3 {
  width: 316px;
}

.component-63.property-1-4-variant-2 .overlap-group-3 {
  width: 270px;
}

.component-63.property-1-4-default .text-wrapper-7 {
  width: 270px;
}

.component-63.property-1-4-variant-3 .text-wrapper-7 {
  width: 316px;
}

.component-63.property-1-4-variant-2 .text-wrapper-7 {
  width: 270px;
}

.component-63.property-1-4-default .text-wrapper-8 {
  width: 270px;
}

.component-63.property-1-4-variant-3 .text-wrapper-8 {
  width: 261px;
}

.component-63.property-1-4-variant-2 .text-wrapper-8 {
  width: 270px;
}

.component-63.property-1-4-default .text-wrapper-9 {
  width: 323px;
}

.component-63.property-1-4-variant-3 .text-wrapper-9 {
  width: 399px;
}

.component-63.property-1-4-variant-2 .text-wrapper-9 {
  width: 323px;
}

.component-63.property-1-4-default .text-wrapper-10 {
  width: 242px;
}

.component-63.property-1-4-variant-3 .text-wrapper-10 {
  width: 347px;
}

.component-63.property-1-4-variant-2 .text-wrapper-10 {
  width: 242px;
}

.component-63.property-1-4-default .text-wrapper-11 {
  width: 371px;
}

.component-63.property-1-4-variant-3 .text-wrapper-11 {
  width: 420px;
}

.component-63.property-1-4-variant-2 .text-wrapper-11 {
  width: 371px;
}

.component-63.property-1-4-default .text-wrapper-12 {
  width: 298px;
}

.component-63.property-1-4-variant-3 .text-wrapper-12 {
  width: 316px;
}

.component-63.property-1-4-variant-2 .text-wrapper-12 {
  width: 298px;
}

.component-63.property-1-4-default .text-wrapper-13 {
  width: 298px;
}

.component-63.property-1-4-variant-3 .text-wrapper-13 {
  width: 316px;
}

.component-63.property-1-4-variant-2 .text-wrapper-13 {
  width: 298px;
}

.component-63.property-1-4-default .text-wrapper-14 {
  width: 270px;
}

.component-63.property-1-4-variant-3 .text-wrapper-14 {
  width: 316px;
}

.component-63.property-1-4-variant-2 .text-wrapper-14 {
  width: 270px;
}

.component-63.property-1-4-default .text-wrapper-15 {
  left: 13px;
  width: 1462px;
}

.component-63.property-1-4-variant-3 .text-wrapper-15 {
  left: 11px;
  width: 1523px;
}

.component-63.property-1-4-variant-2 .text-wrapper-15 {
  left: 13px;
  width: 1462px;
}
